sentence-transformers
torch torchvision torchaudio --index-url https://download.pytorch.org/whl/cu118
google-generativeai
dotenv
numpy
# ollama pull mistral
mistral
pdfplumber
InstructorEmbedding
faiss-cpu
fastapi
uvicorn